
docker-compose.yml
5/debian-10/rootfs/tfc_wp-init.bak
.idea/codeStyles/codeStyleConfig.xml
.idea/modules.xml
.idea/tfc_docker_wp.iml
.idea/vcs.xml
.idea/workspace.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.DS_Store
